root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.gd]
indent_style = tab          # convencao do GDScript; o gdformat assume-a
indent_size = 4

[*.{yml,yaml,json,md,csv,cfg}]
indent_style = space
indent_size = 2
